html 
{
    height:100%; 
    
}
body
{
	background-color: #E8E8E8;
	background-image: url("../img/bg.gif");

    height:100%;
    margin:0px; 
    padding-left: 50px;
    padding-right: 50px;
}

input:focus
{
	background-color: #CDD2E2;
}

.panel
{
	margin: 0 auto;

	width: 255px;
	padding: 15px;
	border-radius: 7px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 15px 15px 40px 5px rgba(1, 1, 1, 0.5);
	-moz-box-shadow: 15px 15px 40px 5px rgba(1, 1, 1, 0.5);

}
 @media (max-width: 480px) {
  body
{
	
    padding-left: 0px;
    padding-right: 0px;
} 
}